[Unit]
Description=ServiceRadar BMP Collector
After=network-online.target

[Service]
Type=simple
Environment="RUST_LOG=info"
ExecStart=/usr/local/bin/serviceradar-bmp-collector --bmp-address=0.0.0.0:11019 --kafka-disable --nats-enable --nats-server=nats://127.0.0.1:4222 --nats-subject=arancini.updates --nats-tls-required --nats-tls-ca-cert-path=/etc/serviceradar/certs/root.pem --nats-tls-client-cert-path=/etc/serviceradar/certs/bmp-collector.pem --nats-tls-client-key-path=/etc/serviceradar/certs/bmp-collector-key.pem --curation-state-path=/var/lib/serviceradar/state.bin
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
User=serviceradar
Group=serviceradar
Restart=always
RestartSec=5
StandardOutput=append:/var/log/serviceradar/bmp-collector.log
StandardError=append:/var/log/serviceradar/bmp-collector-error.log
LimitNOFILE=800000
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
