apiVersion: v1
kind: ConfigMap
metadata:
  name: serviceradar-zen-config
data:
  zen.json: |
    {
      "nats_url": "tls://serviceradar-nats:4222",
      "stream_name": "events",
      "consumer_name": "zen-consumer",
      "subjects": [
        "*.logs.syslog",
        "*.logs.snmp",
        "*.logs.otel",
        "*.logs.internal.>",
        "*.otel.metrics.raw"
      ],
      "decision_groups": [
        {
          "name": "syslog",
          "subjects": ["*.logs.syslog"],
          "rules": [
            {"order": 1, "key": "strip_full_message"},
            {"order": 2, "key": "cef_severity"}
          ],
          "format": "json"
        },
        {
          "name": "snmp",
          "subjects": ["*.logs.snmp"],
          "rules": [
            {"order": 1, "key": "snmp_severity"}
          ],
          "format": "json"
        },
        {
          "name": "otel_logs",
          "subjects": ["*.logs.otel"],
          "rules": [
            {"order": 1, "key": "passthrough"}
          ],
          "format": "protobuf"
        },
        {
          "name": "otel_metrics_raw",
          "subjects": ["*.otel.metrics.raw"],
          "rules": [
            {"order": 1, "key": "passthrough"}
          ],
          "format": "otel_metrics"
        },
        {
          "name": "internal_logs",
          "subjects": ["*.logs.internal.>"],
          "rules": [
            {"order": 1, "key": "passthrough"}
          ],
          "format": "json"
        }
      ],
      "agent_id": "k8s-zen-consumer",
      "kv_bucket": "serviceradar-datasvc",
      "listen_addr": "0.0.0.0:50040",
      "result_subject_suffix": ".processed",
      "security": {
        "cert_file": "/etc/serviceradar/certs/zen.pem",
        "key_file": "/etc/serviceradar/certs/zen-key.pem",
        "ca_file": "/etc/serviceradar/certs/root.pem"
      },
      "grpc_security": {
        "cert_file": "/etc/serviceradar/certs/zen.pem",
        "key_file": "/etc/serviceradar/certs/zen-key.pem",
        "ca_file": "/etc/serviceradar/certs/root.pem"
      }
    }
