{{- if and .Values.spire.enabled .Values.spire.postgres.enabled }}
{{- $ns := default .Release.Namespace .Values.spire.namespace }}
{{- $pg := .Values.spire.postgres }}
{{- $existingSpire := (lookup "v1" "Secret" $ns ($pg.secretName | default "spire-db-credentials")) }}
{{- $existingSuper := (lookup "v1" "Secret" $ns "cnpg-superuser") }}
{{- $spireUser := default "spire" $pg.username }}
{{- $spirePass := default "changeme" $pg.password }}
{{- if and $existingSpire $existingSpire.data.password }}
  {{- $spirePass = (b64dec $existingSpire.data.password) }}
{{- end }}
{{- $superPass := default "changeme" $pg.password }}
{{- if and $existingSuper $existingSuper.data.password }}
  {{- $superPass = (b64dec $existingSuper.data.password) }}
{{- end }}
{{- $cnpg := default (dict) .Values.cnpg }}
{{- $existingAppCreds := (lookup "v1" "Secret" $ns "serviceradar-db-credentials") }}
{{- $appUser := default "serviceradar" $cnpg.username }}
{{- $appPass := default "" $cnpg.password }}
{{- if and $existingAppCreds $existingAppCreds.data.password }}
  {{- $appPass = (b64dec $existingAppCreds.data.password) }}
{{- end }}
{{- if eq $appPass "" }}
  {{- $appPass = randAlphaNum 32 }}
{{- end }}
{{- $imageName := $pg.imageName }}
{{- if not $imageName }}
  {{- $imageRepo := default "ghcr.io/carverauto/serviceradar-cnpg" $pg.image }}
  {{- $imageTag := default "latest" $pg.imageTag }}
  {{- $imageName = printf "%s:%s" $imageRepo $imageTag }}
{{- end }}
{{- $baseSQL := default (list "CREATE EXTENSION IF NOT EXISTS timescaledb;" "CREATE EXTENSION IF NOT EXISTS age;") $pg.extensionsSQL }}
{{- $serviceradarSQL := list
  "CREATE DATABASE serviceradar OWNER serviceradar;"
  "\\c serviceradar"
  "GRANT ALL PRIVILEGES ON SCHEMA public TO serviceradar;"
  "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO serviceradar;"
  "GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO serviceradar;"
  "ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON TABLES TO serviceradar;"
  "ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON SEQUENCES TO serviceradar;"
}}
{{- $postInitSQL := concat $baseSQL $serviceradarSQL }}
{{- $sharedPreload := $pg.sharedPreloadLibraries }}
{{- if not $sharedPreload }}
  {{- $sharedPreload = list "timescaledb" "age" }}
{{- else if kindIs "string" $sharedPreload }}
  {{- $trimmed := list }}
  {{- range $item := splitList "," $sharedPreload }}
    {{- if $item }}
      {{- $trimmed = append $trimmed (trim $item) }}
    {{- end }}
  {{- end }}
  {{- $sharedPreload = $trimmed }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $pg.secretName }}
  namespace: {{ $ns }}
type: Opaque
stringData:
  username: {{ $spireUser }}
  password: {{ $spirePass | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cnpg-superuser
  namespace: {{ $ns }}
type: Opaque
stringData:
  password: {{ $superPass | quote }}
  username: postgres
---
apiVersion: v1
kind: Secret
metadata:
  name: serviceradar-db-credentials
  namespace: {{ $ns }}
  annotations:
    "helm.sh/resource-policy": "keep"
type: Opaque
stringData:
  username: {{ $appUser | quote }}
  password: {{ $appPass | quote }}
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ default "cnpg" $pg.clusterName }}
  namespace: {{ $ns }}
spec:
  imageName: {{ $imageName }}
  instances: {{ default 3 $pg.instances }}
  {{- if $pg.imagePullSecrets }}
  imagePullSecrets:
    {{- range $secret := $pg.imagePullSecrets }}
    {{- if kindIs "string" $secret }}
    - name: {{ $secret }}
    {{- else }}
    - name: {{ $secret.name }}
    {{- end }}
    {{- end }}
  {{- end }}
  storage:
    size: {{ default "100Gi" $pg.storageSize }}
    {{- if $pg.storageClass }}
    storageClass: {{ $pg.storageClass }}
    {{- end }}
  bootstrap:
    initdb:
      database: {{ default "spire" $pg.database }}
      owner: {{ default "spire" $pg.username }}
      secret:
        name: {{ $pg.secretName }}
      {{- if $postInitSQL }}
      postInitApplicationSQL:
        {{- range $stmt := $postInitSQL }}
        - {{ $stmt | quote }}
        {{- end }}
      {{- end }}
  postgresql:
    {{- if $sharedPreload }}
    shared_preload_libraries:
      {{- range $lib := $sharedPreload }}
      - {{ $lib | quote }}
      {{- end }}
    {{- end }}
  managed:
    roles:
      - name: {{ default "spire" $pg.username }}
        ensure: present
        login: true
        passwordSecret:
          name: {{ $pg.secretName }}
      - name: serviceradar
        ensure: present
        login: true
        passwordSecret:
          name: serviceradar-db-credentials
  monitoring:
    enablePodMonitor: true
  enableSuperuserAccess: true
  failoverDelay: 0
{{- end }}
