Package: serviceradar-agent
Version: 1.0.32
Section: utils
Priority: optional
Architecture: amd64
Depends: systemd
Maintainer: Michael Freeman <mfreeman@carverauto.dev>
Description: ServiceRadar Agent Service
    ServiceRadar Agent is a lightweight agent that collects network performance data and sends it to the ServiceRadar server for analysis and visualization.
Config: /etc/serviceradar/agent.json
