{
  "listen_addr": "0.0.0.0:50083",
  "security": {
    "tls_enabled": true,
    "cert_file": "/etc/serviceradar/certs/sysmon.pem",
    "key_file": "/etc/serviceradar/certs/sysmon-key.pem",
    "ca_file": "/etc/serviceradar/certs/root.pem"
  },
  "poll_interval": 30,
  "zfs": {
    "enabled": false,
    "pools": [""],
    "include_datasets": false,
    "use_libzetta": false
  },
  "filesystems": [
    {
      "name": "/",
      "type": "zfs",
      "monitor": true
    }
  ]
}