Package: serviceradar-poller
Version: 1.0.32
Section: utils
Priority: optional
Architecture: amd64
Depends: systemd
Maintainer: Michael Freeman <mfreeman@carverauto.dev>
Description: ServiceRadar Poller Service
    ServiceRadar Poller is a service that polls for data from various sources.
Config: /etc/serviceradar/poller.json
